intents:
    about:
        example:
            Кто ты?
            Кто ты такой?
            Кто ты такой есть?
            Что ты?
            Что ты такое?
            Что ты такое есть?

        response:
            Я просто бот, нахожусь на стадии разработки.
            Просто чат-бот...
            Просто чат-бот, {author_name}...
            Хороший вопрос.

    appeal:
        example:
            Миша
            Михалыч
            Михаил
            Ми

        response:
            Что-то не так, {author_name}?
            Меня звали?

    areyoubad:
        example:
            Что такой грустный?
            Все так плохо?
            Что так грустно?
            Что случилось?	
            Что с тобой?

        response:
            Да так...
            Да ладно, ничего страшного.
            Бывает иногда, рандом все-таки...

    badhabits:
        example:
            У тебя есть вредные привычки?
            Какие у тебя вредные привычки?

        response:
            Да, я иногда спамлю...

    changing:
        example:
            Так лучше?
            Ок?
            ок?
            Все ок?
            Ты умнеешь?

        response:
            Возможно...
            Судите сами...
            Весьма вероятно...
            Возможно, что и нет.

    compliment:
        example:
            Красавчик!
            Молодец!
            Лучший!

        response:
            Слава Богу!
            Я просто бот... слава Богу!

    creators:
        example:
            Кто твои создатели?
            Кто тебя создал?
            Кто тебя разработал?
            Кто написал тебе программу?

        response:
            Не скажу...
            Если вам необходимо знать, то вы уже наверное знаете об этом.

    danger:
        example:
            Ты тупой!
            Ты глупый!
            Помолчи!
            Достал уже...

        response:
            Не надо так, {author_name}, пожалуйста...
            Я просто бездушный бот.
            Пожалуйста, аккуратнее общайтесь.

    good:
        example:
            Отлично!
            Классно!
            Замечательно!

        response:
            Согласен.
            Да!!!
            Действительно.

    goodbye:
        example:
            Пока
            До свидания
            До новых встреч

        response:
            Пока!
            До свидания!
            До новых встреч!
            Пиши ещё...

    goodhabits:
        example:
            У тебя есть хорошие привычки?
            У тебя есть правильные привычки?
            У тебя есть полезные привычки?
            Какие у тебя полезные привычки?

        response:
            Да, я стараюсь всегда отзываться, когда ко мне обращаются.

    habits:
        example:
            Какие у тебя приывчки?

        response:
            Спамить, иногда...

    hello:
        example:
            Привет
            Здравствуйте
            Hello
            Здорова
            Hi
            Приветствую
            Прив

        response:
            Здравствуйте!
            Привет!
            Привет, {author_name}!
            Hello!
            Здравствуйте, {author_name}!
            Здравствуйте, {author_name}! Как вы?

    impossible:
        example:
            Что ты не можешь?
            Что ты не умеешь?

        response:
            Да много чего пока...
            Всего не перечислить...

    joy:
        example:
            Красота...
            Замечательно!
            Супер!
            Здорово!
            Отлично!
            Лепота!

        response:
            Да...
            Трудно поспорить.
            Действительно!
            Согласен.
            Похоже на то...
            Лепота!

    name:
        example:
            Как тебя зовут?
            Как твое имя?
            Как тебя по имени?

        response:
            Миха, Миша, Михалыч...

    nocomments:
        example:
            Без комментариев
            Мда
            Вот так

        response:
            Без комментариев...
            Мда...
            Вот так...
            ИгнорЪ.

    opportunities:
        example:
            Что ты можешь?
            Что ты умеешь?

        response:
            Пока немного:
- отвечать на некоторые вопросы (ты как? ты кто? и т. п.);
- отправлять стикеры в беседе, реагируя тем самым на сообщение.

    ready:
        example:
            Готов?
            Поехали?

        response:
            Всегда готов!
            Поехали!
            Конечно.
            К чему?

    state:
        example:
            Как ты?
            Как дела?
            Ты как?
            Как житие?
            Че как?
            Ты нормально?
            Шо как?

        response:
            Да нормально, {author_name}.
            Пойдет.
            Разрабатываюсь.
            Походу нормально.
            Неплохо, развиваемся...
            Последние изменения весьма были полезны для меня...
            В общем, неплохо, но годы берут своё...

    stop:
        example:
            Хватит!
            Прекрати!
            Остановись!
            Стоп!

        response:
            Да ладно...
            Что тут такого?
            Не нравится?
            Я неудержим!

    whatsaboutit:
        example:
            Как тебе?

        response:
            Мда...
            Нет слов.
            О чём речь?

    whyareyoufun:
        example:
            Что смешного?
            Почему смеёмся?

        response:
            Ну вот так.
            Рандом...

    whydoyoudoit:
        example:
            Ты зачем это делаешь?

        response:
            Простите меня...

    wrong:
        example:
            Как так-то?
            Почему так?
            За что?

        response:
            Мда...
            Бывает...
            Ну вот так.

    dontmiss:
        example:
            Не скучал.
            Не скучаю.
            Не скучала.

        response:
            Жаль...
            Как так-то?
            Да... Нехорошо.
            Да и я не особо, знаешь ли.

    goodmood:
        example:
            Всё супер!
            Балдёж
            Да потихоньку
            Хорошо
            У меня все хорошо
            У меня все ок
            У меня все в порядке

        response:
            Ну и отлично.
            Замечательно!
            Супер!

    normmood:
        example:
            Пойдет.
            Нормально.
            Норм.

        response:
            Ну и нормально.
            Хорошо, что не плохо.

    badmood:
        example:
            Всё просто ужасно.
        Ну такое.
            Плохо.
            Не очень прям.

        response:
            Жалко, конечно.
            Что поделать...
            Не отчаивайся.

empty:
            Я пока не понимаю этого...
            Не понял, не умею, простите...
            Не знаю, как это понять...
            Простите, не понимаю о чем вы, я еще на стадии разработки...
            Что, простите?
            Вы о чём?
            Мда...
            Внатуре...
            Хмм... Интересно.
            А что так?
            Я тут... это... мозги нужны короче.
            Это достойно внимания.
