<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
    <link rel="stylesheet" href="css/main.css">
    <title>Добро пожаловать! - бот Михалыч</title>
</head>
<body>
    <style>
        div#main {
            background-image: url(https://sun9-49.userapi.com/c853420/v853420995/24818a/tRqozTdupp8.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        div#main h1{
            margin: 185px 10px 0 10px;
        }
    </style>
    <div id="main">
        <!-- <img src="https://sun9-49.userapi.com/c853420/v853420995/24818a/tRqozTdupp8.jpg" alt="Аватар бота"> -->
        <h1>бот Michalych</h1>
        <p>Приветствую вас! Нипишите мне, или добавьте меня беседу...</p>
    </div>
    <div id="join"><a href="https://vk.com/bot_michalych">перейти в сообщество</a></div>
</body>
</html>